<!DOCTYPE html>
<html lang="en">
    <head>
       {%load static %}


        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Inicio</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="http://127.0.0.1:8000/AppCoder/inicio/">Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/AppCoder/trabajo/">Trabajo</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/AppCoder/trabajador/">Trabajador</a></li>
                        <li class="nav-item dropdown">
                            <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/AppCoder/empleador/">Empleador</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">CoderHouse</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Trabajo practico realizado por Matias Grau</p>
                </div>
            </div>
        </header>
        <!-- Section-->
       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        



        {% block contenidoQueCambia %}


        {%endblock%}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
